* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* section1 */
.section1{
    background-image: url(images/backgrounds/h_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50%;
    position: relative;
}

/* logo */
.logo img {
    position: absolute;
    top: 25vh;
    right: 48%;
}

/* heading */
.heading {
    color: white;
    position: absolute;
    top: 46vh;
    right: 30%;
    font-size: 10px;
}

/* mouseClick */
.mouseClick {
    position: absolute;
    top: 93%;
    right: 47%;
}

/* animation */
/* .mouseClick{
    animation: both 5s;
} */

/* section2 */
.section2 {
    color: black;
    text-align: center;
    margin: 3%;
}

/* section3 */
.section3 {
    text-align: center;
    position: absolute;
    top: 155%;
    color: white;
    font-size: 12px;
}


/* section4 */
.section4 {
    margin: 6%
}

.section4 .heading2 {
    position: absolute;
    right: 43%;
    top: 190%;
}

.section4 .design {
    display: none;
}

.section4 .development {
    display: none;
}

.section4 .productM {
    display: none;
}


.design-image {
    text-align: center;
}

.dev-image {
    text-align: center;
}

.product-image {
    text-align: center;
}

/* section5 */
.section5 h3 {
    text-align: center;
}

/* section6 */
.contact {
    text-align: center;
}

/* section7 */
.footer {
    text-align: center;
    margin: 3%;
}