* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section1 */
.section1{
    background-image: url(images/backgrounds/h_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50%;
    position: fixed;
}

/* logo */
.logo img {
    position: absolute;
    top: 25vh;
    right: 48%;
}

/* heading */
.heading {
    color: white;
    position: absolute;
    top: 46vh;
    right: 30%;
    font-size: 10px;
}

/* mouseClick */
.mouseClick {
    position: absolute;
    top: 93%;
    right: 47%;
}

/* animation */
/* .mouseClick{
    animation: both 5s;
} */

